/*  FONT FAMILY in use
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace; */

@import url(./fonts.css);

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /* font-family themes */
    --Roboto: "Roboto", sans-serif;
    --Prompt: "Prompt", sans-serif;
    --Code: "Source Code Pro", monospace;

    /* colours */
    --text-white: #ede7e3;
    --text-mid-blue: #82c0cc;
    --bg-flame: #f05d23;
    --bg-pac-blue: #489fb5;
    --bg-jet: #373737;
    --bg-dark: #131313;

    /* gradient colours */
    --grad-grey-black: linear-gradient(to right, #868f96 0%, #596164 100%);
    --grad-dark: linear-gradient(to left, #333333 0%, #070707 100%);
    --grad-blues: linear-gradient(to right, #489fb5 0%, #82c0cc 100%);
    --grad-blugry: linear-gradient(to left, #489fb5 0%, #070707 100%);
}

/* ---------------Global Class----------------- */
body {
    background: var(--grad-dark);
}

a {
    text-decoration: none;
    color: var(--text-white);
}

p {
    color: var(--text-white);
    font-family: var(--Prompt);
    font-size: 1.05rem;
}

h1 {
    font-family: var(--Code);
    font-size: 2.5rem;
    color: var(--text-white);
}

h2 {
    text-decoration: none;
    font-size: 1.7rem;
}

h3 {
    font-family: var(--Prompt);
    font-size: 1.4rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

button.button {
    border: var(--text-white) 1px;
    border-style: solid;
    border-radius: 2rem;
    padding: 1rem, 2rem;
    font-size: 1.2rem;
    font-family: var(--Code);
    cursor: pointer;
}

span {
    font-family: var(--Roboto);
}

.container {
    margin: 0 5vw;
}

.text-white {
    color: var(--text-white);
}

/* -----xxx-------Global Class--------xxx------ */

/* ---------------Navigation----------------- */
.nav {
    background: var(--bg-jet);
    padding: 0 1.7rem;
    padding-top: 0.7rem;
    height: 0rem;
    min-height: 8vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}
.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 80%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
    margin-right: -10%;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-white);
}

.nav .toggle-collapse .toggle-icons .fa-bars {
    color: var(--text-white);
    font-size: 1.5rem;
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.5rem 1rem;
    font-size: 1.3rem;
    position: relative;
    font-family: var(--Code);
    border-radius: 7%;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--bg-flame);
}

.nav .nav-items .nav-link:hover a {
    color: var(--grad-dark);
}
.nav .nav-brand a {
    font-size: 1.9rem;
    padding: 1.3rem 1.7rem;
    display: block;
    font-family: var(--Code);
    color: var(--text-white);
}

.nav .social {
    padding: 1.7rem 2rem;
}

.nav .social i {
    padding: 0 0.7rem;
    font-size: 1.3rem;
}

.nav .social i:hover {
    color: var(--bg-flame);
}

/* -----XXX-------Navigation--------XXX------ */

/* UNDER CONTRUCTION */
/* ---------------Header----------------- */
/* 
header.header .page-title {
    padding: 1rem 3rem;
    margin-left: 5rem;
} */
/* -----XXX-------Header--------XXX------ */

/* ---------------Main index.html----------------- */

main.index-html .site-title {
    background: url(../images/cyber.jpeg);
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
}

main.index-html .site-title .site-background {
    padding-top: 10rem;
    text-align: center;
    color: var(--text-white);
}

main.index-html .site-title h1,
h3 {
    margin: 0.3rem;
}

/* ccc about buttons */
main.index-html .site-title .button {
    margin: 1.8rem;
    padding: 1rem 1.5rem;
    background: var(--bg-pac-blue);
}

main.index-html .site-title .button:hover {
    background: transparent;
    border: 1px solid var(--text-mid-blue);
    color: var(--text-white);
}
main.index-html section {
    display: flex;
    justify-content: center;
}

/* Div Container size */
main.index-html .site-content div {
    width: 65%;
    margin: 2.5rem 10rem;
    padding: 2rem 2rem;
    border: var(--bg-pac-blue) solid 1px;
}
/* Visual Effects */
main.index-html .site-content div:hover {
    border: var(--bg-flame) solid 1px;
}

main.index-html .site-content div.image-section {
    border: none;
}

/* Backgrounds for each sep div */
main.index-html .site-content .code-section {
    background: url(../images/coffee_80.jpg);
}

main.index-html .site-content .cloud-section {
    background: url(../images/flame_80.jpg);
}

main.index-html .site-content .cyber-section {
    background: url(../images/key_80.jpg);
}
/*  Fonts for page */
main.index-html .site-content h2 {
    font-family: var(--Roboto);
    color: var(--text-white);
}

main.index-html .site-content p {
    font-family: var(--Code);
    font-size: 1.2rem;
}

/* -----XXX-------Main index.html--------XXX------ */

/* ---------------Main bio.html----------------- */

/* --- Carousel/Gallery --- */

main.bio-html .bio {
    background: url(../images/tie_75_tran.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 99vh;
    width: 100%;
    background-size: cover;
}

main.bio-html .bio .about-me {
    text-align: center;
}

main.bio-html .bio .bio-post {
    padding-top: 11rem;
}

main.bio-html .bio-post .bio-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    border: solid 1px var(--bg-flame);
    background: rgba(255, 255, 255, 0.4);
}

main.bio-html .bio-content .bio-title {
    padding: 2.7rem 0;
    color: var(--text-white);
    font-size: 1.2rem;
}

main.bio-html .bio-content .button-bio {
    padding: 0.7rem 1.7rem;
    background: var(--grad-blues);
    margin: 0.5rem;
    cursor: pointer;
}

main.bio-html .bio-content .button-bio:hover {
    background: var(--bg-flame);
    border: var(--bg-dark) solid 1px;
    color: var(--text-white);
}

main.bio-html .bio-content span {
    display: block;
}

/* --- Carousel Nav left right toggle--- */

main.bio-html section .container .owl-nav {
    position: absolute;
    top: 10%;
    margin: 0 auto;
    width: 100%;
}

main.bio-html .owl-nav .owl-prev .owl-nav-prev,
main.bio-html .owl-nav .owl-next .owl-nav-next {
    color: var(--bg-pac-blue);
    background: transparent;
    font-size: 3rem;
}

main.bio-html .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
    color: var(--bg-flame);
}

main.bio-html .owl-theme .owl-nav [class*="owl-"] {
    outline: none;
}

/* -----XXX-------Main bio.html--------XXX------ */

/* ---------------Main blog.html----------------- */

main.blog-html .site-content {
    display: grid;
    grid-template-columns: 70% 30%;
}

main.blog-html .post-content {
    width: 100%;
    margin-bottom: 1rem;
}

main.blog-html .site-content .post-content > .post-image,
.post-title {
    padding: 1rem 2rem;
    position: relative;
}

main.blog-html .site-content .post-content > .post-image .post-info {
    background: var(--bg-pac-blue);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
    margin: 0 0.7rem;
}

main.blog-html .site-content .post-content > .post-image > div {
    overflow: hidden;
}

main.blog-html .site-content .post-content > .post-image .img {
    width: 100%;
    transition: all 1.2s ease;
}

main.blog-html .site-content .post-content > .post-image .img:hover {
    transform: scale(1.2);
}

main.blog-html .post-content .post-title a {
    font-family: var(--Prompt);
    font-size: 1.7rem;
}

main.blog-html .post-content .post-title a:hover {
    color: var(--bg-flame);
}

/*  -- Read More Button -- */
.blog-html .site-content .post-content .post-title .post-button {
    border-radius: 0;
    padding: 0.5rem 0.8rem;
    background: var(--bg-pac-blue);
    color: var(--text-white);
}
.blog-html .site-content .post-content .post-title .post-button:hover {
    color: var(--bg-dark);
    background: var(--bg-flame);
    border-color: var(--bg-pac-blue);
}

.blog-html .site-content .page-num {
    justify-content: center;
    color: var(--text-white);
    margin: 4rem 0;
}

.blog-html .site-content .page-num a {
    padding: 0.6rem 1.9rem;
    border-radius: 2rem;
    margin: 0 0.3rem;
}

.blog-html .site-content .page-num .page {
    background: var(--bg-pac-blue);
    color: var(--text-white);
}

.blog-html .site-content .page-num .page:hover {
    background: var(--bg-flame);
    color: var(--bg-dark);
}
/* xxx Content for Blogs xxx */

/* --- Sidebar  & Popular Section   --- */

/* Category List */
.blog-html .site-content > .sidebar .category-list {
    font-family: var(--Code);
}

.blog-html .site-content > .sidebar .category-list .list-items {
    border: var(--bg-pac-blue) solid 1px;
    background: var(--grad-dark);
    padding: 0.7rem 1rem;
    margin: 0.8rem 0;
    border-radius: 1rem;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.blog-html .site-content > .sidebar .category-list .list-items:hover {
    border: 1px solid var(--bg-flame);
}

.blog-html .site-content > .sidebar .category-list .list-items a {
    color: var(--text-white);
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.blog-html .site-content > .sidebar .category-list .list-items a:hover {
    color: var(--bg-flame);
}

.blog-html .site-content > .sidebar .category-list .list-items span {
    color: var(--text-mid-blue);
}

/* Popular List */
.blog-html .sidebar .popular-post .post-content {
    padding: 1rem 0;
}

.blog-html .site-content .sidebar .popular-post h2 {
    padding-top: 6rem;
    font-family: var(--Prompt);
}

.blog-html .site-content .sidebar .popular-post .post-info {
    padding: 0.4rem 0.1rem !important;
    bottom: 0.7rem !important;
    left: 1.7rem !important;
    border-radius: 0rem !important;
    background: var(--grad-blues) !important;
}

.blog-html .site-content .sidebar .popular-post .post-info span {
    font-size: 0.8rem;
}

.blog-html .site-content .sidebar .popular-post .post-title a {
    font-size: 1.2rem;
}

/* xxx Sidebar Term & Popular Section  xxx */

/* -----XXX-------Main blog.html--------XXX------ */

/* -------------Main secret.html--------------- */
.secret-html .secret {
    padding-left: 3rem;
    padding-top: 3rem;
    background: url(../images/code-skeleton_75_tran.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.secret-html .secret h2 {
    font-family: var(--Prompt);
    color: var(--text-white);
}

.secret-html .secret .form-element {
    padding: 1.7rem 0.7rem;
}

.secret-html .secret .form-element p {
    font-size: 1.1rem;
    padding: 1rem 0;
    padding-left: 2rem;
}

/* INPUT and BUTTON -  OFF FOR NOW */
/* .secret-html .secret .input-element {
    width: 26%;
    height: 1rem;
    padding: 0.3rem 0.7rem;
    font-family: var(--Prompt);
}

.secret-html .secret .form-button {
    border-radius: 0;
    padding: 0.7rem 12%;
    margin: 0.4rem 0;
    background: var(--grad-blues);
} */

/* -----XXX-----Main secret.html------XXX------ */

/* ------------- Footer --------------- */

footer.footer {
    height: 100%;
    background: var(--bg-jet);
    position: relative;
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1.7rem 2.7rem;
}

footer.footer .container h2 {
    color: var(--text-white);
    font-family: var(--Prompt);
}

/* Search Reddit and DuckDuckGo */
footer.footer .search-sites .input-element {
    display: inline-block;
    padding: 0.5rem 0.7rem;
    width: 70%;
    border: var(--bg-pac-blue) 1px solid;
    background: var(--bg-dark);
    font-family: var(--Code);
    font-size: 0.9rem;
}

footer.footer .search-sites .input-element:hover {
    border: var(--bg-flame) 1px solid;
}

footer.footer .search-sites input.input-element {
    color: var(--bg-flame);
}

footer.footer .search-sites span {
    background: var(--grad-blues);
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}

/* Other Resources - NOT USED CURRENTLY */

/* Follow Me */
footer.footer .follow {
    display: flexbox;
    flex-direction: column;
}

footer.footer .follow div i {
    font-size: 2.7rem;
    color: var(--text-white);
    padding: 0 0.7rem;
}

footer.footer .follow div i:hover {
    color: var(--bg-flame);
    cursor: pointer;
}

/* Copyright */
footer.footer .copyright {
    font-family: var(--Roboto);
    font-size: 1rem;
    justify-content: center;
}

/* Nav button to return to top */
footer.footer .nav-up {
    position: absolute;
    right: 3%;
    top: 40%;
}

footer.footer .nav-up span {
    color: var(--text-white);
}

footer.footer .nav-up span:hover {
    color: var(--bg-flame);
    cursor: pointer;
}

/* -----XXX----- Footer ------XXX------ */

/* ---viewport less than or equal to 1400px --- */

@media only screen and (max-width: 1400px) {
    main.index-html .site-content div {
        width: 75%;
        margin: 2.5rem 1rem;
        padding: 1.3rem 1.3rem;
    }

    .blog-html .post-content > .post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .blog-html .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }

    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* ---viewport less than or equal to 1200px --- */

/* ---viewport less than or equal to 850px --- */
@media only screen and (max-width: 800px) {
    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }
    g .nav .toggle-collapse {
        display: initial;
    }

    main.index-html .site-title div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    main.index-html .site-title .button {
        margin: 1.5rem;
        padding: 0.8rem 1.2rem;
    }

    main.index-html .site-content div {
        width: 85%;
        margin: 2.5rem 1rem;
        padding: 1.3rem 1.3rem;
    }
    main.index-html .site-content h2 {
        font-size: 1.4rem;
    }
    main.index-html .site-content p {
        font-size: 1rem;
    }
    main.blog-html .site-content {
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    main.blog-html .site-content .sidebar .popular-post {
        display: none;
    }

    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    footer.footer .copyright {
        font-size: 0.8rem;
    }
    .nav .nav-brand a {
        font-size: 1.7rem;
    }
    .nav {
        min-height: 9vh;
    }
}

/* ---viewport less than or equal to 850px --- */

/* ---viewport less than or equal to 450px --- */
@media only screen and (max-width: 450px) {
    main.index-html .site-content h2 {
        font-size: 1.2rem;
    }
    main.index-html .site-content p {
        font-size: 0.9rem;
    }

    main .bio {
        height: 100vh;
    }

    .bio-html .bio h3 {
        font-size: 1rem;
    }

    .bio-html .bio p {
        font-size: 0.8rem;
    }

    main.blog-html .site-content .post-content > .post-image .post-info {
        padding: 0.5rem;
        margin: 0 0.5rem;
    }

    footer.footer .copyright {
        font-size: 0.8rem;
    }
}

/* ---viewport less than or equal to 450px --- */

@media only screen and (max-width: 320px) {
    .nav {
        padding: 0;
        font-size: 0.9rem;
    }
}

/* ---- Side Window Scroll Bar ---- */

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-jet);
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-flame);
    border-radius: 1rem;
}

::-webkit-scrollbar-track-piece {
    background: var(--bg-dark);
}

/* -xx- Side Window Scroll Bar -xx- */
